* {
  box-sizing: border-box;
}

/* 版心*/
.wrapper{
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #f3f5f7;
}

/* 1.头部 */

.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  font-family: MicrosoftYaHei;
}
/* 商标 */
.head #trademark {
  width: 195px;
  height: 42px;
}
/* 导航 */
.head .nav ul {
  display: flex;
  justify-content: space-around;
  width: 246px;
	height: 30px
}

.head .nav ul li:hover {
  border-bottom: 2px solid #00a4ff;
}

.head .nav a {
  padding: 0px 9px 12px;
  width: 237px;
	height: 18px;
	font-size: 18px;
	letter-spacing: 2px;
	color: #050505;
}

.head div {
  display: flex;
  align-items: center;
}

/* 输入 */
.head .input {
  border-radius: 40px;
  display: flex;
  justify-content: right;
  width: 412px;
  height: 40px;
  margin-right: 30px;
  overflow: hidden;
  border: 2px solid #00a4ff;
}

.head .input input {
  background-color: #f3f5f7;
  width: 361px;
  height: 40px;
  
}

.head .input .research {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 40px;
}

.head .input .research {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f3f5f7;
  border: none;
}

.head .input .research img {
  width: 40px;
}

.head .input .research img {
  width: 51px;
  height: 41px;
  border-radius: 50%;
}

/* 用户 */
.head .user {
  display: flex;
  width: 118px;
  height: 33px;
  align-items: center;
}

.head .user img {
  width: 33px;
  height: 35px;
  margin-right: 4px;
  border-radius: 50%;
}

.head .user #userName {
    height: 14px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666666;
}

/* 2.banner区域 */
.banner {
  width: 100%;
  height: 420px;
  margin: 0 auto 8px;
  overflow: hidden;
  background-image: url(../images/banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1c036c;
}

.banner .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* banner 左 */
.banner .left {
  width: 190px;
  height: 420px;
  color: #fff;
  background-color: rgb(0, 0, 0 ,0.42);
  padding: 12px 21px 12px  20px;

}

.banner .left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.banner .left li {
  height: 43px;
  background-image: url(../images/rightPoint.png);
  background-repeat: no-repeat;
  background-size: 14%;
  background-position: center right;
}

.banner .left li a:hover {
  color: #fff;
}

.banner .left li a {
  font-size: 14px;
  line-height: 44px;
}

/* banner 右 */
.banner .right {
  width: 231px;
  height: 300px;
  margin: 50px 0 70px;
  background-color: #fff;
}

.banner .right #myLessonsTable {
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #9bceea;
}

.banner .right ul {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}

.banner .right ul li {
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}
.banner .right .lessons span {
  color: #4e4e4e;
}

.banner .right .lessons a{
  font-size: 14px;

  color: #4e4e4e;
}

.banner .right .lessons p {
  font-size: 12px;
  color: #a5a5a5;
}

.banner .right #allLessons {
  padding-top: 3px;
  padding-bottom: 0;
  border: 0 solid #000;
}

.banner .right #allLessons a {
  display: inline-block;
  width: 200px;
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  text-align: center;
  color: #00a4ff;
  border: 1px solid #00a4ff;
}

/* 3.金品推荐 */
.rcd {
  height: 60px;
  padding: 21px 26px 21px 34px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px #6d6a6a; ;

}

.rcd span {
  color: #00a4ff;
  margin-right: 36px;
}


.rcd ul {
  display: inline-flex;
  justify-content: space-around;
  width: 800px;
}

.rcd ul li {
  width: 100px;
  padding-left: 23px;
  border-left: 1px solid #bfbfbf;
  text-align: center;
}

.rcd ul li a {
  color: #050505;
}

.rcd button {
  display: inline-block;
  margin-left: 80px;
  color: #00a4ff;
  background-color: #fff;
  border: 0px solid #000;
}

/* 精品推荐--块域 */
.rcdB {
  margin-top: 37px;
  height: 595px;
  /* background-color: pink; */
}

.rcdB .rcdBHead {
  display: flex;
  justify-content: space-between;\margin-bottom: 8px;
}

.rcdB span {
  line-height: 30px;
  font-size: 20px;
  color: #494949;
}

.rcdB a {
  margin-right: 35px;
  font-size: 12px;
  color: #a5a5a5;
}

.rcdB ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  height: 555px;
}

.rcdB ul li {
  width: 228px;
	height: 270px;
	background-color: #ffffff;
	
}

.product {

}

.product:hover {
  box-shadow: 0px 2px 5px 0px 
		rgba(118, 118, 118, 0.5);
}
